//Tour contact form
.gt-tour-contact-form {
  .form-group {
    border-top: none !important;
    margin-top: 5px;
    margin-bottom: 0;
    input,
    textarea {
      border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
      padding: 20px 5px;
      border-bottom: 1px solid #d7dce3;
      border-radius: 0px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
      transition: border-color;

      &:focus {
        border-color: var(--link-color, #5191fa) !important;
      }
    }
    textarea {
      height: 80px;
    }
  }
  .wpcf7-submit {
    background: var(--link-color, #5191fa) !important;
    color: #fff !important;
  }
  .ajax-loader {
    display: block !important;
    margin: 0 auto !important;
  }

  .anr_captcha_field_div iframe {
    @include respond-above(md) {
      transform: scale(0.75);
      transform-origin: 0 0;
    }
  }
}
