header#header{
    .header{
        transition: background-color 0.3s ease;
        background-color: rgba(0, 0, 0, 0.65);
        &.sticky-header{
            position: fixed;
            background-color: rgba(0, 0, 0, 0.9);
            width: 100%;
            top: 0;
            .main-menu > li > a{
                padding: 0px 20px !important;
            }
            .logo img{
                max-height: 60px;
            }
        }
        .header-left{
            margin: 0 auto;
            .logo{
                img{
                    height: 52px;
                    transition: all 0.3s ease;
                    max-width: none !important;
                }
            }
            @include respond-above(md) {
                margin: initial;
                .logo{
                    img{
                        padding: 10px 0;
                        height: 500px;
                    }
                }
            }
            #st-main-menu{
                .main-menu{
                    > li{
                        transition: all 0.3s ease;
                        > a{
                            transition: color 0.3s ease;
                            font-size: 20px !important;
                            padding: 31px 25px;
                        }
                        &:hover{
                            > a{
                                color: var(--link-color, #5191FA);
                            }
                        }
                    }
                }
            }
        }
    }
    #topbar{
        ul.st-list.topbar-items{
            li.dropdown.dropdown-user-dashboard{
                ul.dropdown-menu{
                    li:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
}

.st-header-2 .search-result-page .banner{
    padding-top: 200px !important;
    padding-bottom: 90px !important;
}