.tour-search-form-home{
    .advance, .advance-item.facilities{
        padding: 0 15px;
    }
    .advance-item.facilities{
        padding-bottom: 15px;
    }
    .form-button{
        width: 100%;
        .btn-search{
            margin: 0 auto;
            @include respond-above(md) {
                margin: 0 !important;
                width: 100% !important;
                position: static !important;
                padding: 30px 20px !important;
             }
            @include respond-above(lg) {
                padding: 35px 20px !important;
             }
        }
    }

    .search-form{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        .col-md-3:nth-child(3){
            padding: 0 15px !important;
            @include respond-above(md) {
                padding: 0 15px 0 0 !important;
            }
        }
        .keywords-form-field{
            padding: 18px 5px 17px 17px;
        }
    }
}