.gt-black-mask{
    .fotorama.st-bg-slider{
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0; right: 0;
            background-color: rgba(0,0,0,0.65);
        }
    }
}

#st-content-wrapper{
    >div.banner, >div.sts-banner{
        .container{
            position: relative;
            z-index: 5;
        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0; right: 0;
            // background-color: rgba(0,0,0,0.65);
        }
    }
    >div.sts-banner{
        .container{
            position: relative;
            height: 100%;
        }
    }
}