.gt-certifications-wrapper {
  .gt-certifications {
    .wpb_column {
      margin: 15px 0;
    }

    .vc_column-inner {
      border: 1px solid #dfdfdf;
      border-radius: 8px;
      padding: 50px;
      height: 100%;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0px 0px 6px 2px var(--main-color, #5191FA);
      }

      img{
          max-width: 250px !important;
      }
    }

    .wpb_content_element {
      text-align: center !important;

      p {
        font-size: 14px;
        color: #666 !important;
      }
    }
  }
}

