@page {
    size: A4;
    margin: 2em;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    #loader{
        display: none;
    }
    #main-print{
        display: block;
    }
}

body{
    margin: 2em;
    color: black;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

table.header{
    border: 1px solid var(--main-color, #5191FA);
    width: 100%;
}

table.header td{
    padding: 1em;
}

.st-heading{
    margin-top: 1.5em;
    text-transform: uppercase;
}

.form-head{
    margin-top: 0.5em;
    display: inline-block;
    width: auto;
    padding: 0.5em;
    border: 2px solid var(--main-color, #5191FA);
    font-size: 2em;
}

.form-head label{
    padding: 0;
}

.item.onsale{
    display: none;
}

.st-section-title{
    margin-top: 1.5em;
    text-transform: uppercase;
}

.st-tour-feature svg g{
    stroke: var(--main-color, #5191FA);;
}

.sub-heading{
    margin-top:  1em;
}

.st-description{
    height: auto !important;
}

.st-link.block, .expand{
    display: none;
}

.st-tour-feature{
    margin-top: 1em;
}
.st-tour-feature .col-xs-6{
    width: 25% !important;
}

.st-tour-feature .item .icon, .st-tour-feature .item .info{
    display: inline-block;
    vertical-align: middle;
}
.st-tour-feature .item .icon{
    margin-right: 0.5em;
}

.owl-stage{
    width: auto !important;
}

.owl-nav{
    display: none;
}

.owl-item{
    width: auto !important;
}

.owl-item .item{
    background: none !important;
}

.owl-item .item .header{
    display: none;
}

.owl-item .item .body{
    margin: 1em 0 2em 0;
}

.owl-item .item .body *:not(div){
   display: inline;
}
.owl-item .item .body .desc{
   margin-top: 0.5em;
}

.owl-item .item h2{
    font-size: 24px;
}

.st-include ul{
    list-style: none;
}

.st-faq .item .header h5, .st-program-list .item .header h5{
    margin: 1.5em 0 0.25em 0;
    font-weight: bold;
    display: inline-block;
}

.st-program-list .item .col-lg-4{
    display: none;
}

.st-map-wrapper .st-heading-section{
    margin-top: 1.5em;
    text-transform: uppercase;
}

.st-conditions .header{
    display: none;
}