/*!
Theme Name:     Traveler Childtheme
Description:    
Author:         Shinetheme
Template:       traveler

(optional values you can add: Theme URI, Author URI, Version)
*/

// Abstracts
@import
  'abstracts/variables',
  'abstracts/mixins';

// Components
@import
  'components/utils',
  'components/header',
  'components/login',
  'components/search-tour-sidebar',
  'components/contact-forms',
  'components/contact-info',
  'components/modern-search-form';

// Pages
@import
  'pages/single-tour',
  'pages/user-dashboard',
  'pages/experience';


/**
 * Cambios generales 
 */

// Botón para imprimir tour
button.print-tour{
  padding: 5px 10px;
  background: var(--link-color, #5191fa) !important;
  color: #fff !important;
  margin-bottom: 5px;
}

// Cintillo de valores
.gt-values{
  .st-featured-item .image img{
      max-height: 85px !important;
  }
  .st-border-right{
    @include respond-above(md) {
      border-right: 1px solid #dfdfdf63;
    }
  }
}

/**
 * Estilos incluidos en el demo
 */

.block1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  width: 60%;
}
.columnstyle  {
  height: 500px;
}
.columnstyle .bg-mask {
  opacity: 0;
}
li.vc_tta-tab {
  background-color: #f2f2f2;
}
li.vc_tta-tab.vc_active {
  background-color: #c6eaea;
}
.hotel-alone .menu-style-2 .menu .current-menu-ancestor>a{
  background: transparent !important;   
}
.footer-custom a{
  color: #333;   
}

/**
 * Esconder comentarios y reviews
 */

.grid-item .service-review,
.post-info .count-comment,
.st-blog .content .article .post-inner .meta ul li:nth-child(3),
.search-result-page.st-tours .sidebar-filter .sidebar-item-wrapper:nth-child(2)
{
  display: none !important;
}
.st-list-tour-related.row{
  .st-stars, .review-text, .right.st-flex{
    display: none !important;
  }
}